<!-- templates/groups/viewGroup.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagos</title>
    <link th:href="@{/main.css}" rel="stylesheet"/>
</head>

<body class="min-h-screen flex flex-col">
<header>
    <div th:replace="~{base/navbar :: navbar}"></div>
</header>

<main class="flex-grow overflow-y-auto pb-24">
    <div th:replace="~{expenses/fragments/expensesHeader :: expensesHeader(${group})}"></div>
    <div th:replace="~{expenses/fragments/expensesUnderHeader :: underHeader}"></div>

    <!-- Mostrar solo uno de los fragmentos dependiendo de si la lista de expenses está vacía -->
    <div>
        <!-- Fragmento que muestra el mensaje cuando no hay gastos -->
        <div th:if="${expenses.isEmpty()}">
            <p class="text-gray-500 text-lg text-center mt-10" th:text="#{text.expenses.noExpenses}"></p>
        </div>

        <!-- Fragmento que muestra la lista cuando hay gastos -->
        <div th:replace="~{expenses/fragments/expensesList :: expenseList(${expenses})}"></div>
    </div>
</main>

<!-- Botón Fijado al Centro Inferior de la Página -->
<div class="fixed bottom-16 left-1/2 transform -translate-x-1/2 z-50">
    <button data-modal-target="paymentModal" data-modal-toggle="paymentModal"
            class="bg-sky-500 text-white px-6 py-3 rounded-full shadow-lg hover:bg-sky-700 focus:outline-none focus:ring-4 focus:ring-sky-300"
            th:text="#{text.expenses.addExpense}">
    </button>
</div>

<div th:replace="~{expenses/fragments/expensesModal :: expensesModal}"></div>
<div th:replace="~{expenses/fragments/expensesEditModal :: expensesEditModal}"></div>
<div th:replace="~{expenses/fragments/newMemberModal :: newMemberModal}"></div>
<div th:replace="~{expenses/fragments/debtsModal :: debtsModal}"></div>

</body>

<footer>
    <div th:replace="~{base/footer :: footer}"></div>
</footer>
</html>

<script th:src="@{/js/newMember.js}"></script>
<script src="https://flowbite.com/docs/flowbite.min.js"></script>
<script th:src="@{/js/Validaciones/expendValidaciones.js}"></script>
<script th:src="@{/js/expenseForm.js}"></script>