<nav th:fragment="navbar" class="bg-white shadow">
    <div class="shadow px-5">
        <div class="flex justify-between items-center h-16 max-w-6xl mx-auto">
            <div class="block sm:invisible">
                <button data-collapse-toggle="navbar-collapse" type="button"
                        class="text-slate-500 hover:bg-sky-500 hover:text-slate-100 transition-colors rounded p-1 -ml-1 focus:ring-2"
                        aria-controls="navbar-collapse" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                    </svg>
                </button>
            </div>
            <div class="flex items-center">
                <!-- LOGO COMPAY -->
                <a class="text-sky-500 hover:rotate-6 duration-200" th:href="@{/groups}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="size-8">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M15 8.25H9m6 3H9m3 6-3-3h1.5a3 3 0 1 0 0-6M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    </svg>
                </a>

                <!-- Menú de navegación horizontal -->
                <div class="space-x-6 ml-6 hidden sm:flex">
                    <a th:href="@{/groups}" class="text-sky-500 px-3 py-2" th:text="#{text.groups.header.groups}"></a>
                    <a th:href="@{/expenses}" class="text-slate-700 px-3 py-2 hover:text-sky-500 transition-colors" th:text="#{text.groups.header.payments}"></a>
                    <a th:href="@{/debts}" class="text-slate-700 px-3 py-2 hover:text-sky-500 transition-colors" th:text="#{text.groups.header.debts}"></a>
                </div>
            </div>
            <!-- Botones en la parte derecha -->
            <div class="flex items-center space-x-4">
                <!-- Selector de idioma -->
                <div th:replace="~{base/fragments/languageSelector :: languageSelector}"></div>

                <!-- Avatar -->
                <div th:replace="~{base/fragments/avatarDropdown :: avatarDropdown}"></div>
            </div>

        </div>
    </div>
    <!-- Menú desplegable en pantallas pequeñas -->
    <div class="space-y-1 pb-3 border-t-3 pt-2 sm:hidden" id="navbar-collapse">
        <a th:href="@{/groups}" class="block bg-sky-500 text-white px-3 py-2 rounded-md transition-color" th:text="#{text.groups.header.groups}">
        </a>
        <a th:href="@{/expenses}"
           class="block text-slate-700 hover:bg-sky-500 hover:text-white px-3 py-2 rounded-md transition-color" th:text="#{text.groups.header.payments}">
        </a>
        <a th:href="@{/debts}"
           class="block text-slate-700 hover:bg-sky-500 hover:text-white px-3 py-2 rounded-md transition-color" th:text="#{text.groups.header.debts}">
        </a>
    </div>
</nav>
