<!-- Modal para Crear Pago -->
<div th:fragment="debtsModal" id="debtsModal" tabindex="-1" aria-hidden="true"
     class="fixed inset-0 items-center justify-center z-50 bg-gray-800 bg-opacity-50 hidden overflow-y-auto">
    <div class="relative bg-white rounded-lg shadow-lg w-full max-w-xl md:max-w-2xl max-h-[100vh] overflow-y-auto">
        <!-- Modal Header -->
        <div class="flex justify-between items-center p-5 border-b border-gray-200 rounded-t">
            <h3 class="text-xl font-medium text-gray-900">Deudas</h3>
            <button type="button" class="text-gray-400 hover:text-gray-900" data-modal-hide="debtsModal">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
                </svg>
            </button>
        </div>
        <!-- Modal Body -->
        <div class="p-6 space-y-4 w-full">
            <!-- Información de pagos y deudas -->
            <div class="w-full bg-slate-300 rounded-lg shadow p-4 md:p-6">
                <div class="flex justify-between border-gray-200 border-b dark:border-gray-700 pb-3">
                    <dl>
                        <dt class="text-base text-gray-500 pb-1 uppercase font-bold">Gasto total</dt>
                        <dd class="leading-none text-3xl font-bold text-slate-700">
                            <span th:text="${group.amount}"></span>
                            <span th:text="${group.currency == 'EURO' ? '€' : '$'}"></span>
                        </dd>
                    </dl>
                </div>

                <div th:each="debt : ${debts}" class="grid grid-cols-3 gap-4 items-center py-3">
                    <div class="flex items-center">
                        <img class="w-10 h-10 rounded-full" th:src="${debt.user.avatarURL}" th:alt="${debt.user.avatarURL}">
                        <div class="ml-4">
                            <p th:text="${debt.user.name + ' ' + debt.user.surname}"
                               class="text-sm sm:text-md font-medium text-gray-900 truncate">Nombre</p>
                            <p th:text="${debt.user.email}" class="text-sm text-gray-500 truncate">Email</p>
                        </div>
                    </div>

                    <!-- LE DEBEN -->
                    <div class="text-center">
                        <dt class="text-base font-normal text-slate-700 pb-1">
                            LE DEBEN
                        </dt>
                        <dd class="leading-none text-xl font-bold text-green-500">
                            <span th:text="${debt.loanAmount}"></span>
                            <span th:text="${group.currency == 'EURO' ? '€' : '$'}"></span>
                        </dd>
                    </div>

                    <!-- DEBE -->
                    <div class="text-right">
                        <dt class="text-base font-normal text-slate-700 pb-1">DEBE</dt>
                        <dd class="leading-none text-xl font-bold text-red-600">
                            <span th:text="${debt.debtAmount}"></span>
                            <span th:text="${group.currency == 'EURO' ? '€' : '$'}"></span>
                        </dd>
                    </div>
                </div>
            </div>

            <div class="w-full bg-slate-300 rounded-lg shadow p-4 md:p-6">
                <span>TU DEUDA: </span>

            </div>

            <div class="w-full bg-slate-300 rounded-lg shadow p-4 md:p-6">
                <span>DEUDAS DEL GRUPO: </span>

            </div>

        </div>
    </div>
</div>
