<!-- templates/payments/fragments/paymentListItem.html -->
<div th:fragment="expenseCard(expense)" th:if="${expense != null}"
     class="mt-8 h-100 shadow rounded-lg bg-gray-200 flex justify-between items-center px-5 py-3 hover:bg-gray-400 cursor-pointer transition duration-300 focus:bg-gray-500 mb-6">

    <img class="hidden md:flex w-9 rounded-full" th:src="${expense.originUser.avatarURL}"
         th:alt="${expense.originUser.username}">

    <p class="text-gray-700 font-thin sm:me-6">
        <span class="font-bold uppercase" th:text="${expense.originUser.username}">usuario</span>
        pagó
        <span class="text-green-600 font-bold" th:text="${expense.amount + ' ' + expense.group.currency}">$0</span>
        por
        <span class="font-bold uppercase" th:text="${expense.expense_name}">motivo del pago</span>
    </p>

<!--    TODO : cambiar el users por realmente aquellos usuarios que si están incluidos en el pago-->

    <!-- Grupo de imágenes para pantallas grandes -->
    <div class="hidden lg:flex items-center mr-1">
        <!-- Iterar solo sobre los dos primeros usuarios -->
        <div th:each="user : ${users.size() > 2 ? users.subList(0, 2) : users}">
            <img class="object-cover w-8 h-8 rounded-full ring ring-green-500 hover:ring-gray-700"
                 th:src="${user.avatarURL}" th:alt="${user.name}">
        </div>
    </div>


    <!--     Grupo de imagen con números para pantallas pequeñas y medianas-->
    <div class="hidden items-center mr-1 md:flex lg:hidden sm:ml-4">
        <!-- Mostrar solo la imagen del primer usuario -->
        <img class="object-cover w-8 h-8 -mx-1 rounded-full ring ring-green-500 hover:ring-gray-700"
             th:src="${users[0].avatarURL}" th:alt="${users[0].name}">

        <!-- Mostrar el número de usuarios restantes -->
        <a class="flex items-center justify-center w-10 h-10 text-xs font-medium text-white bg-slate-700 border-2 border-white rounded-full hover:bg-gray-600 -mx-2"
           href="#" th:text="'+' + (${users.size() - 1})"></a>
    </div>


    <!-- Botón tres puntos opciones con IDs únicos -->
    <button th:id="'dropdownMenuIconButton-' + ${expense.id}" th:data-dropdown-toggle="'dropdownDots-' + ${expense.id}"
            class="inline-flex self-center items-center p-2 text-sm font-medium text-center text-gray-900 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50"
            type="button">
        <svg class="w-4 h-4 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
             viewBox="0 0 4 15">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M3.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 6.041a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 5.959a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"/>
        </svg>
    </button>

    <div th:id="'dropdownDots-' + ${expense.id}"
         class="hidden bg-gray-200 divide-y divide-gray-100 rounded-lg shadow w-40">
        <ul class="py-2 text-sm text-gray-700" th:attr="aria-labelledby='dropdownMenuIconButton-' + ${expense.id}">
            <li>
<!--                TODO: LOGICA DE EDIT-->
                <a href="#"
                   class="block px-4 py-2 hover:bg-gray-100 hover:text-black"
                   data-id="${expense.id}"
                   data-modal-target="editPaymentModal"
                   data-modal-toggle="editPaymentModal">
<!--                   onclick="openEditExpenseModal(this)"-->

                    Editar
                </a>
            </li>
            <li>
                <a th:href="@{/group/expenses/delete/{groupId}/{expenseId}(groupId=${group.id}, expenseId=${expense.id})}"
                   class="block px-4 py-2 hover:bg-gray-100 hover:text-black">Borrar</a>
            </li>
        </ul>
    </div>
</div>

<script src="https://flowbite.com/docs/flowbite.min.js"></script>
