<!-- expenses/fragments/showMembers.html -->
<div th:fragment="showMembers(user)">
    <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            <li class="py-3 sm:py-4">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <img class="w-7 rounded-full" th:src="${user.avatarURL}" th:alt="${user.username}">
                    </div>
                    <div class="flex-1 min-w-0 ms-4">
                        <p th:text="${user.name + ' ' + user.surname}"
                           class="text-sm sm:text-md font-medium text-gray-900 truncate">
                        </p>
                        <p th:text="${user.email}" class="text-sm text-gray-500 truncate">
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>