<!-- index/expensesGroup-layout.html -->
<div th:fragment="layout">
    <div class="relative flex size-full min-h-screen flex-col">
        <div class="layout-container flex h-full grow flex-col">

            <!-- Incluir el header -->
            <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#27313A] px-10 py-3">
                <div class="flex items-center gap-4 text-white">
                    <div class="size-4">
                        <!-- SVG del logo aquí -->
                    </div>
                    <h2 class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">Group Pay</h2>
                </div>
                <div class="flex flex-1 justify-end gap-8">
                    <nav class="flex items-center gap-9">
                        <a class="text-black text-sm font-medium" href="#">Inicio</a>
                        <a class="text-black text-sm font-medium" href="#">Actividad</a>
                        <a class="text-black text-sm font-medium" href="#">Grupos</a>
                        <a class="text-black text-sm font-medium" href="#">Insights</a>
                    </nav>
                    <div class="flex gap-2">
                        <button class="btn-search">
                            <div class="icon-search">
                                <!-- SVG del icono de búsqueda -->
                            </div>
                        </button>
                        <button class="btn-notification">
                            <div class="icon-notification">
                                <!-- SVG del icono de notificación -->
                            </div>
                        </button>
                    </div>
                    <div class="user-avatar bg-center bg-cover rounded-full h-10 w-10"
                         style='background-image: url("https://cdn.usegalileo.ai/sdxl10/4acf28f4-5377-495e-9f8a-1ea2bcc5a8d6.png");'></div>
                </div>
            </header>

            <!-- Contenido principal -->
            <main class="gap-1 px-6 flex flex-1 justify-center py-5">
                <div class="layout-content-container flex flex-col w-80">
                    <!-- Botones y enlaces de "All expenses", "Recurring", etc. -->

                </div>
                <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
                    <!-- Historial de transacciones -->

                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                        Añadir nuevo pago
                    </button>
                </div>
            </main>
        </div>
    </div>
</div>
