<div th:fragment="currencySelector" class="mb-4">
    <label for="currency" class="block text-sm font-medium text-gray-700 uppercase" th:text="#{text.groups.form.currency}"></label>
    <select id="currency"
            class="block py-2 px-0 w-full text-base text-slate-700 bg-transparent border-0 border-b-2 border-slate-400 focus:outline-none focus:ring-0 focus:border-sky-500 peer"
            th:field="*{currency}">
        <option hidden selected value=""></option>
        <option th:each="currency : ${currencies}"
                th:value="${currency.name()}"
                th:text="${currency.getCode()}">
        </option>
    </select>
</div>
