<!-- fragments/form-fields.html -->
<div th:fragment="formFields">
    <form th:action="@{/groups/create}" method="post" th:object="${group}" id="group-form">
        <div class="mb-4">
            <label for="group-name" class="block text-sm font-medium text-gray-700 uppercase">Nombre del grupo</label>
            <input type="text" id="group-name" name="groupName" field="*{groupName}"
                   class="block py-2 px-0 w-full text-sm text-slate-700 bg-transparent border-0 border-b-2 border-slate-400 appearance-none focus:outline-none focus:ring-0 focus:border-sky-500 peer"
                   placeholder="Introduzca un nombre" />
        </div>

        <!-- Añadir miembros al grupo -->
        <label for="group-name" class="block text-sm font-medium text-gray-700 uppercase">Añadir miembros al grupo</label>
        <div class="mb-4 flex items-center w-full">
            <div class="relative w-full">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="email" id="search" placeholder="Introduzca email"
                       class="block w-full py-2 px-10 text-sm text-slate-700 bg-transparent border-0 border-b-2 border-slate-400 appearance-none focus:outline-none focus:ring-0 focus:border-sky-500"/>
                <button type="button" id="add-email-btn" class="absolute right-2.5 bottom-2.5 bg-sky-500 text-white font-medium text-sm px-4 py-1.5 rounded-lg hover:bg-sky-700 focus:outline-none focus:ring-4 focus:ring-sky-300">Añadir</button>
            </div>
        </div>
        <div id="userEmail" th:user-email="${usuario.email}"></div>
        <div id="userGroups" th:user-group="${usuario.group}"></div>

        <!-- Lista de emails -->
        <input type="hidden" id="emails" name="emails" field="*{emails}"/>
        <ul id="email-list" class="mb-4 text-sm text-slate-700 p-4 space-y-2 hidden"></ul>

        <div th:replace="~{groups/fragments/currencySelector :: currencySelector}"></div>

        <div id="divErrores" style="display: none;" class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <div class="flex items-center">
                <svg class="flex-shrink-0 w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="font-medium">Errores: </span>
            </div>
            <div>
                <ul class="mt-1.5 list-disc list-inside" id="errorList"></ul>
            </div>
        </div>

        <!-- Modal Footer -->
        <div class="flex justify-end p-5 border-t border-gray-200">
            <button type="submit"
                    class="bg-sky-500 text-white px-4 py-2 rounded-lg hover:bg-sky-700 focus:outline-none focus:ring-4 focus:ring-sky-300">
                Guardar
            </button>
        </div>

    </form>
</div>

<script th:src="@{/js/Validaciones/groupsFormValidaciones.js}"></script>
