<div th:fragment="languageSelector">
    <div class="flex items-center md:order-2 space-x-4">
        <!-- Botón de idioma con sombra -->
        <button type="button" data-dropdown-toggle="language-dropdown-menu"
                class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-slate-700 bg-transparent rounded-lg hover:bg-sky-500 hover:text-white transition-all shadow-sm">
            <img class="h-6 w-6 rounded-full mx-auto" aria-hidden="true"
                 src="https://cdn.icon-icons.com/icons2/1531/PNG/512/3253482-flag-spain-icon_106784.png"
                 alt="flag-es">
        </button>

        <!-- Dropdown de idiomas -->
        <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow "
             id="language-dropdown-menu">
            <ul class="py-2 font-medium" role="none">
                <!-- Español -->
                <li>
                    <a th:href="|${currentUri}?lang=es|"
                       class="block px-4 py-2 text-sm text-gray-700 hover:bg-sky-500 hover:text-white"
                       role="menuitem">
                        <div class="inline-flex items-center">
                            <img class="h-3.5 w-3.5 rounded-full me-2" aria-hidden="true"
                                 src="https://cdn.icon-icons.com/icons2/1531/PNG/512/3253482-flag-spain-icon_106784.png"
                                 alt="flag-es">
                            Español
                        </div>
                    </a>
                </li>
                <!-- Portugués -->
                <li>
                    <a th:href="|${currentUri}?lang=pt|"
                       class="block px-4 py-2 text-sm text-gray-700 hover:bg-sky-500 hover:text-white"
                       role="menuitem">
                        <div class="inline-flex items-center">
                            <img class="h-3.5 w-3.5 rounded-full me-2" aria-hidden="true"
                                 src="https://cdn.icon-icons.com/icons2/107/PNG/512/portugal_18280.png"
                                 alt="flag-pt">
                            Portugués
                        </div>
                    </a>
                </li>
                <!-- Inglés (UK) -->
                <li>
                    <a th:href="|${currentUri}?lang=en|"
                       class="block px-4 py-2 text-sm text-gray-700 hover:bg-sky-500 hover:text-white"
                       role="menuitem">
                        <div class="inline-flex items-center">
                            <img class="h-3.5 w-3.5 rounded-full me-2" aria-hidden="true"
                                 src="https://cdn.icon-icons.com/icons2/107/PNG/512/united_kingdom_flag_flags_18060.png"
                                 alt="flag-uk">
                            English (UK)
                        </div>
                    </a>
                </li>
                <!-- Italiano -->
                <li>
                    <a th:href="|${currentUri}?lang=it|"
                       class="block px-4 py-2 text-sm text-gray-700 hover:bg-sky-500 hover:text-white"
                       role="menuitem">
                        <div class="inline-flex items-center">
                            <img class="h-3.5 w-3.5 rounded-full me-2" aria-hidden="true"
                                 src="https://cdn.icon-icons.com/icons2/107/PNG/512/italy_18275.png"
                                 alt="flag-it">
                            Italiano
                        </div>
                    </a>
                </li>
                <!-- Checo -->
                <li>
                    <a th:href="|${currentUri}?lang=cs|"
                       class="block px-4 py-2 text-sm text-gray-700 hover:bg-sky-500 hover:text-white"
                       role="menuitem">
                        <div class="inline-flex items-center">
                            <img class="h-3.5 w-3.5 rounded-full me-2" aria-hidden="true"
                                 src="https://cdn.icon-icons.com/icons2/107/PNG/512/czech_republic_18215.png"
                                 alt="flag-cz">
                            Checo
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
