<div th:fragment="listGroupContent" class="max-w-6xl mx-auto my-8">
    <div class="container mx-auto px-6">
        <div class="mt-16">
            <h3 class="flex justify-center text-2xl text-slate-700 font-medium uppercase">Mis grupos</h3>
            <!-- COMPONENTE DE GRUPO -->
            <div class="grid gap-6 grid-cols-1 sm:grid-cols-1 lg:grid-cols-3 mt-6">
                <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
                    <div class="flex items-end justify-end h-56 w-full bg-cover"
                         th:style="|background-image: url('@{/images/bg1.jpg}');|">
                        <button class="p-2 flex justify-center items-center rounded-full bg-sky-500 text-white mx-5 -mb-4 hover:bg-cyan-700 focus:outline-none focus:bg-blue-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="size-6 ml-3">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z"/>
                            </svg>
                            <span class="mx-1 uppercase">Ver grupo</span>
                        </button>
                    </div>
                    <div class="px-5 py-3">
                        <h3 class="text-gray-700 uppercase">hola</h3>
                        <span class="text-red-600 mt-2">$130</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
