<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagos</title>
    <link th:href="@{/main.css}" rel="stylesheet"/>
</head>
<body class="min-h-screen flex flex-col">
<header>
    <div th:replace="~{base/navbar :: navbar}"></div>
</header>

<main class="flex-grow overflow-y-auto pb-24">
    <div th:replace="~{prueba/contenidoHeaderPagos :: headerPagos}"></div>
    <div th:replace="~{prueba/contenidoListPagos :: listPagosContent}"></div>
</main>

<!-- Botón Fijado al Centro Inferior de la Página -->
<div class="fixed bottom-16 left-1/2 transform -translate-x-1/2 z-50">
    <button class="bg-sky-500 text-white px-6 py-3 rounded-full shadow-lg hover:bg-sky-700 focus:outline-none focus:ring-4 focus:ring-sky-300">
        Añadir Pago
    </button>
</div>

<footer>
    <div th:replace="~{base/footer :: footer}"></div>
</footer>

<script src="https://flowbite.com/docs/flowbite.min.js"></script>
</body>
</html>
