<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear grupo</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
</head>
<body class="bg-gray-900 text-white flex items-center justify-center min-h-screen">

<div class="w-full max-w-md mx-auto p-6 bg-gray-800 rounded-lg shadow-lg">
    <!-- fragments/header.html -->
    <div>
        <h1 class="flex items-center justify-center text-2xl font-bold mb-6">Crea un grupo</h1>
    </div>

    <!-- Form Fields Fragment -->
    <div th:replace="~{groups/group-form-fields :: formFields}"></div>
</div>

<!--<div class="max-w-4xl mx-auto bg-gray-800 p-8 rounded-lg shadow-lg">-->
<!--    &lt;!&ndash; Tu contenido aquí &ndash;&gt;-->
<!--</div>-->
</body>
</html>
