<!-- fragments/currency-selector.html -->
<div th:fragment="currencySelector" class="mb-6">
    <p class="text-sm font-medium mb-2">Set group currency</p>
    <select class="w-full p-3 bg-gray-700 rounded-lg border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
            name="currency" field="*{currency}">
        <option value="" disabled selected>Select a currency</option>
        <option th:each="currency : ${currencies}"
                th:value="${currency.name()}"
                th:text="${currency.getCode()}">
        </option>
    </select>
</div>