<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupos</title>
    <link th:href="@{/main.css}" rel="stylesheet"/>
</head>
<header>
    <div th:replace="~{base/navbar :: navbar}"></div>
</header>
<body>


<main class="flex-grow overflow-y-auto pb-24">
    <div th:replace="~{groups/fragments/groupList :: groupList}"></div>

    <!-- Botón Fijado al Centro Inferior de la Página -->
    <div class="fixed bottom-16 left-1/2 transform -translate-x-1/2 z-50">
        <button data-modal-target="groupModal" data-modal-toggle="groupModal"
                class="bg-sky-500 text-white px-6 py-3 rounded-full shadow-lg hover:bg-sky-700 focus:outline-none focus:ring-4 focus:ring-sky-300" th:text="#{text.groups.addgroup}">
            Añadir Grupo
        </button>
    </div>

    <div th:replace="~{groups/fragments/groupModal :: groupModal}"></div>
</main>

<footer>
    <div th:replace="~{base/footer :: footer}"></div>
</footer>

</body>
</html>

<script src="https://flowbite.com/docs/flowbite.min.js"></script>
<script th:src="@{/js/Validaciones/groupsFormValidaciones.js}"></script>