<!-- groups/group-item.html -->
<div th:fragment="groupItem(group)" th:if="${group != null}" class="flex items-center justify-between">
    <div class="flex items-center">
        <img th:src="${group.imageURL}" alt="Group Image" class="w-12 h-12 rounded mr-4" width="50" height="50"/>
        <div>
            <div class="text-lg" th:text="${group.groupname}">Nombre del grupo</div>
            <div class="text-gray-400" th:text="'Debes ' + ${group.amount} + '€'">Debes X€</div>
        </div>
    </div>
    <button class="bg-gray-700 text-white py-1 px-3 rounded">Saldar</button>
</div>
