<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupos</title>
    <!-- PARA CARGARLO SIN INSTALARLO LOCALMENTE
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> -->
    <script src="https://cdn.tailwindcss.com"></script>
<!--    <link th:href="@{/main.css}" rel="stylesheet"/>-->
</head>
<body class="bg-gray-900 text-white font-sans">
<div th:replace="~{base/navbar :: navbar}"></div>
<div class="flex h-screen">
    <!-- Main Content -->
    <div class="w-3/4
    p-8">
        <h1 class="text-3xl font-bold mb-8">Grupos</h1>
        <div th:replace="~{groups/groups-list :: groups}"></div>
    </div>

    <a th:href="@{/groups/create}">
        <button class="bg-blue-600 text-white py-2 px-4 rounded mt-auto">Nuevo grupo</button>
    </a>

</div>
</body>
</html>
